header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2%;
  box-shadow: 0px 0px 24px 0px #0b2138;
  background-color: color-mix(in oklab, var(--color-white) 5%, transparent);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 8px;
  color: var(--color-white);

}

.header-spacer {
  height: 56px;
  width: 100%;
}

.header__div {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.header__div-img {
  filter: invert(1); 
}

.header__div-title {
  font-size: 1.5rem;
}

.header__nav-ul {
  display: flex;
  gap: 30px;
  font-weight: 500;
  font-size: 1rem;
}

.header__nav-a {
  display: flex;
  gap: 10px;
  font-size: 1rem;
  transition: all 0.3s;
}

.header__nav-li, .header__nav-a {
  transition: all 0.2s;
}

.header__nav-li:hover {
  transform: translateY(-3px);
}

.header__nav-a:hover {
  color: var(--color-blue-500);
}