---
import "../styles/card.css";
---

<main>
  <div class="main__content-title">
    <h1 class="content__h1">Un design system moderno para formularios, dashboards y componentes temáticos</h1>
    <p>
      Colección de componentes accesibles y personalizables para crear formularios intuitivos, dashboards modulares y elementos visuales como cards y botones. Diseñado con tecnologías modernas y pensado para facilitar el desarrollo de aplicaciones web atractivas, eficientes y adaptadas a cualquier necesidad
    </p>
    <a href="/components" class="content__a">
      <button class="content__btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-5"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 12l3 3l3 -3l-3 -3z"></path><path d="M15 12l3 3l3 -3l-3 -3z"></path><path d="M9 6l3 3l3 -3l-3 -3z"></path><path d="M9 18l3 3l3 -3l-3 -3z"></path></svg>
        Explorar Componentes
      </button> 
    </a>
  </div>
  <div class="main__content-section">
    <section class="content__section">
      <span class="content__section-svg">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-5" slot="icon"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <path d="M5 3m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path> <path d="M19 6h1a2 2 0 0 1 2 2a5 5 0 0 1 -5 5l-5 0v2"></path> <path d="M10 15m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path> </svg>
      </span>
      <span class="content__section-title">Customizable</span>
      <p class="content__p">MictlanUI es altamente personalizable, lo que significa que puedes modificar completamente el diseño de cada componente para adaptarlo a tus necesidades.</p>
    </section>

    <section class="content__section">
      <span class="content__section-svg">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-5" slot="icon"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <path d="M5 3m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path> <path d="M19 6h1a2 2 0 0 1 2 2a5 5 0 0 1 -5 5l-5 0v2"></path> <path d="M10 15m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path> </svg>
      </span>
      <span class="content__section-title">Customizable</span>
      <p class="content__p">MictlanUI es altamente personalizable, lo que significa que puedes modificar completamente el diseño de cada componente para adaptarlo a tus necesidades.</p>
    </section>

    <section class="content__section">
      <span class="content__section-svg">
        <img src="/form.webp" width="24" height="24" alt="Form logo">
      </span>
      <span class="content__section-title">Formularios Accesibles</span>
      <p class="content__p">Crea formularios profesionales con inputs, selects y validaciones visuales, listos para usar y totalmente accesibles desde el primer momento</p>
    </section>
  </div>
</main>
