---
import Nav from "@/components/landing/Nav.astro";
import Footer from "@/components/landing/Footer.astro";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Descubre MictlanUI, una colección moderna y minimalista de componentes accesibles y personalizables para React y Tailwind CSS. Crea formularios, dashboards y elementos visuales de forma fácil y profesional."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Onest:wght@300..900&display=swap"
      rel="stylesheet"
    />
    <title>Micron UI</title>
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
